.instModal-trigger{
    margin-top: 15px;
}

ol .breadcrumb{
    background-color: red !important;
}

.instModal-trigger span{
    cursor: pointer;
display: inline-block;
margin: 16px 15px;
text-transform: uppercase;
transition: color 1s cubic-bezier(.06,.81,0,.98);
vertical-align: middle;
color: #c9aa71;
font-weight: 600;
}
